body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f5f7;
  color: #333333;
  margin: 0;
  font-size: 14px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul,
aside,
main,
figure {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

li+li {
  margin-top: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #00AE8E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 20px;
}


.container {
  max-width: 1170px;
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  height: calc(100vh - 40px);
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 35%;
    margin-bottom: 0;
  }
}

.sidebar__content {
  height: 100%;
  overflow-y: auto;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .main {
    padding: 0 20px;
    width: 65%;
  }
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.text-light {
  color: #999999;
}

.description {
  padding-left: 20px;
}

.spot {
  color: #999999;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.list {
  list-style: disc;
  padding-left: 20px;
}

.social-link {
  display: inline-block;
}